<!doctype html>
<html lang="ko">
<head>
	<title>veci</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../images/common/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="/_css/dodot/common.css">
	<link rel="stylesheet" type="text/css" href="/_css/dodot/layout.css">
	<script type="text/javascript"  src="/_script/jquery/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript"  src="/_script/jquery/jquery-ui.min.js" ></script>
	<script type="text/javascript"  src="/_script/dodot/design-ui.js" ></script>
		
</head>
<body>

<div class="error_wrapserver">
	<div class="error">
		<h1>공식 온라인몰 서버점검 안내</h1>
		<div class="cont01">
			보다 나은 고객 서비스를 제공하기 위하여 서버점검 중입니다.<br />
			아래 점검 일시를 확인하시고 서버점검이 완료된 후 다시 방문해주세요.
			
			<p class="mgt20">
				점검 일시 : 2016년 05월 24일(화) 03:00 ~ 15:00(12시간)
			</p>
		</div>
		<div class="cont02">
			고객센터 +82-2-512-5293  l  오전 10시~12시, 오후 1시~6시 (토, 일요일, 공휴일 휴무)
		</div>
	</div>
</div>

</body>
</html>