<!doctype html>
<html lang="ko">
<head>
	<title>veci</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../images/common/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="/_css/dodot/common.css">
	<link rel="stylesheet" type="text/css" href="/_css/dodot/layout.css">
	<script type="text/javascript"  src="/_script/jquery/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript"  src="/_script/jquery/jquery-ui.min.js" ></script>
	<script type="text/javascript"  src="/_script/design-ui.js" ></script>
		
</head>
<body>

<div class="error_wrap404">
	<div class="error">
		<h1>쇼핑에 불편을 드려서 죄송합니다!</h1>
		<div>고객님이 찾고 계시는 페이지가 삭제되었거나,<br />이름이 변경되었거나 일시적인 오류로 표시할 수 없습니다.</div>
		<div class="mgt50">
			<a href="#" class="btn_h60_type2">이전페이지</a><a href="/" class="btn_h60_type1 mgl8">메인</a>
		</div>
	</div>
</div>

</body>
</html>