<!doctype html>
<html lang="ko">
<head>
	<title>veci</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../images/common/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../dodot/pc/css/common.css">
	<link rel="stylesheet" type="text/css" href="../dodot/pc/css/layout.css">
	<script type="text/javascript"  src="../dodot/pc/js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript"  src="../dodot/pc/js/jquery-ui.min.js" ></script>
	<script type="text/javascript"  src="../dodot/pc/js/design-ui.js" ></script>
		
</head>
<body>

<div class="error_wraptraffic">
	<div class="error">
		<h1>공식 온라인몰 트래픽 초과 안내</h1>
		<div class="cont01">
			현재 일시적인 트래픽 증가로 온라인 스토어 접속이 원활하지 않습니다.<br />
			잠시 후 다시 이용해 주시기 바랍니다.<br />
			서비스 이용에 불편을 드려서 대단히 죄송합니다.
		</div>
		<div class="cont02">
			고객센터 +82-2-512-5293  l  오전 10시~12시, 오후 1시~6시 (토, 일요일, 공휴일 휴무)
		</div>
	</div>
</div>

</body>
</html>