@charset 'utf-8';
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* reset */
html,body {width:100%; height:100%; margin:0; padding:0; font-size:100%;}
article,aside,canvas,video,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr{display:inline;}

body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,
em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,button,
table,caption,tbody,tfoot,thead,tr,th,td,
header,hgroup,footer ,nav ,section ,article ,aside ,figure ,video ,audio{margin:0;padding:0;border:0;font-size:100%;color:inherit;*zoom:1;background:none;table-layout: fixed;}
body{font-family:'Nanum Gothic','Malgun Gothic','돋움',dotum, Arial, sans-serif;font-size:12px;color:#333;line-height:16px;}
ul,ol{list-style:none}
em,address{font-style:normal}
img{border:0;background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE6 & 7 */*zoom:1;}
select,textarea,input,label,img{vertical-align:middle;}
legend,caption{display:none;}
hr{margin-bottom:30px;border:none !important;}
table{border-collapse:collapse;border-spacing:0;border:0; width:100%;}
table th,table td{word-wrap:break-word;}
button,a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:none;}
button, input[type=submit], input[type=reset], input[type=button] {overflow:visible; margin:0; padding:0; cursor:pointer; border:0; background:transparent;}
button::-moz-focus-inner {border:0;padding:0;}
input, select, textarea, button {font-family:'Nanum Gothic','Malgun Gothic','돋움',dotum, Arial, sans-serif;font-size:100%;}

p.description {font-weight:bold; color:#ff0000; font-size:19px; margin-bottom:10px;}

*,
*:before,
*:after {-webkit-box-sizing:content-box; -moz-box-sizing: content-box; box-sizing: content-box;}

.mBorad table .fCheck,
.mBorad table .fRadio{margin:0 20px 0 0;}
.table_type1 table .fCheck,
.table_type1 table .fRadio{margin:0 20px 0 0;}

.mgl7 {margin-left:7px;}
.mgt10 {margin-top:10px;}

/* layout */
#skip_nav{position: absolute;top: -100px;left: 0px;width: 100%;padding: 5px 0px;background: #3f3f3f;color: #ffffff;text-align: center;}
#skip_nav:focus{top:0;}

body.admin{background:#fff url(../images/body_bg.gif) 176px 0px repeat-y;}
#wrap:after{content:'.';width:0px;height:0px;font-size:0;line-height:0;overflow:hidden;display:block;clear:both;}
#header{height:100px;background:#333;width:100%;position:relative;color:#fff;}
#container{padding-left:175px;}
#contents{padding:0px 20px 35px 20px;}
#side{float:left;width:175px;}

#header .login_info_box{color:#fff;position:absolute;right:32px;top:18px;}
#header .login_info_box .login_user{display:inline-block;vertical-align:middle;padding-left:18px;background:url(../images/login_user.gif) 0 3px no-repeat;margin-right:10px;}
#header .gnb{position:absolute;left:205px;bottom:20px;}
#header .gnb a{color:#fff;display:block;text-align:center;padding:0px 12px;}
#header .gnb a.on{font-weight:bold;}
#header .gnb a:hover{text-decoration:underline;font-weight:bold;}
#header .gnb ul:after{content:'.';width:0px;height:0px;font-size:0;line-height:0;overflow:hidden;display:block;clear:both;}
#header .gnb li{float:left;background:url(../images/gnb_col.gif) 0 2px no-repeat;}
#header .gnb li:first-child{background:none;}

#side .lnb_tree{padding:0px 5px;color:#333;font-size:13px;line-height:16px;}
#side .lnb_tree a{display:block;}
#side .lnb_tree>li{border-bottom:1px solid #dadada;}
#side .lnb_tree .tree_depth1{padding:10px 10px 10px 30px;background:url(../images/lnb_tree_arr2.gif) 142px 16px no-repeat;;}
#side .lnb_tree .tree_depth1:hover,
#side .lnb_tree .tree_depth1.on{font-weight:bold;}
#side .lnb_tree .tree_depth1.on{background:url(../images/lnb_tree_arr1.gif) 142px 16px no-repeat;;}
#side .lnb_tree .tree_depth2{border-top:2px solid #000;padding:10px;display:none;}
#side .lnb_tree .tree_depth2 li{border-bottom:0;margin-top:12px;}
#side .lnb_tree .tree_depth2 li:first-child{margin-top:0;}
#side .lnb_tree .tree_depth2 li a{padding-left:30px;background:url(../images/lnb_tree_bul.gif) 20px 8px no-repeat;}
#side .lnb_tree .tree_depth2 li a:hover{text-decoration:underline;font-weight:bold;}
#side .lnb_tree .tree_depth2 li a.on{font-weight:bold;}

.b_title{font-weight:bold;color:#333;font-size:16px;margin-bottom:15px; padding-top:39px;}

/* login */
.login_cont {margin: 0px auto 0;width: 418px;color:#666;position:absolute;left:50%;top:50%;margin-top:-160px;margin-left:-209px;}
.login_cont h2{font-size:25px;font-weight:normal;padding-bottom:height:35px;line-height:35px;border-bottom:3px solid #333333;margin-bottom:20px;}
.loginMainWrap{border:1px solid #dadada;padding:25px;}
.loginMainWrap input[type=text],
.loginMainWrap input[type=password]{width:344px;height:31px;line-height:31px;color:#999;}
.login_cont .checkbox{margin-top:15px;font-size:13px;color:#666}
.login_cont .checkbox input{margin-right:4px;}
.login_cont .desc{margin-top:18px;}
.login_cont .btn-block{margin-top:10px;}

/* popup _blank */
.blankPop{position:relative;}
.blankPop .mBlank{border:1px solid #333;}
.blankPop .mBlank .popArea {}
.blankPop .popTitle{height:55px;background:#333;color:#fff;font-size:16px;padding-left:20px;line-height:55px;}
.blankPop .closeBtn{position:absolute;right:8px;top:8px;}
.blankPop .closeBtn button{width:40px;height:40px;background:url(../images/pop_blank_close.gif) center center no-repeat;text-indent:-999px;overflow:hidden;}
.blankPop .popContent{padding:15px 15px 30px;}
.blankPop .mTitle{padding-top:0;margin-bottom:10px;}

.layer_overlay{position:fixed;left:0;top:0;width:100%;height:100%;background:#333;opacity:0.65;z-index:10000;}
.fade.in {opacity: 1;}
.modal {z-index: 10050 !important;outline: none !important;}
.modal {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;display: none;overflow: auto;overflow-y: scroll;}
.fade {opacity: 0;-webkit-transition: opacity 0.15s linear;transition: opacity 0.15s linear;}
.modal.in .modal-dialog {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);}
.modal-dialog .modal-content {position: relative;background-color: #ffffff;border: 1px solid #999999;border: 1px solid rgba(0, 0, 0, 0.2);outline: none;background-clip: padding-box;}
.modal-dialog {z-index: 1050;width: auto;padding: 10px;margin-right: auto;margin-left: auto;padding-top: 30px;padding-bottom: 30px;}
.modal-dialog .modal-body {position: relative;padding: 5px;}
.modal-dialog .modal-header {border-bottom: 1px solid #dadada;padding-left:29px;padding-top:25px;padding-bottom:20px;position:relative;}
.modal-dialog .modal-title{font-weight:normal;color:#333333;font-size:20px;font-weight:normal;}
.modal-dialog .accreditInput {margin-top: -20px;padding: 0 20px;text-align: right;font-size: 12px;color:#333;}
.modal-dialog .modal-footer {padding: 30px 20px 40px;margin-top: 20px;text-align: center;border-top: 1px solid #e5e5e5;}
.modal-dialog .jumbotron {padding:30px 35px 30px;margin-bottom:5px;color:#333;background-color: #eeeeee;line-height:20px;}
.modal-dialog .overBox {padding-right: 35px;height: 380px;overflow-y: auto;overflow-x: hidden;}
.modal-dialog .jumbotron .documentTitle{font-size:20px;padding-bottom:5px;font-weight:bold;}
.document .txtTitle {font-size: 16px;margin-top: 15px;margin-bottom:3px;}
.jumbotron p {line-height: 1.4;}
.accreditInput .txtInput {padding:7px 0 0;}
.modal-footer{padding:}

/* tree */
.mTree.typeNormal {width: 100%;position: relative;}
.mTree.typeNormal .treeMenu {position: absolute;left: 0;top: 0;width: 215px;}
.mTree.typeNormal .treeContent {padding-left: 237px;}
.mTitle.gTitle {margin-top: 15px;border-bottom: 0 none;background: #e0e0e0;position: relative;padding-bottom:12px;border:1px solid #dadada;}
.mTitle.gTitle h2 {padding: 0 0 0 15px;font-weight:normal;}
.mTitle.gTitle1{background:#fff;border:1px solid #dadada;padding-bottom:12px;margin-bottom:10px;}
.mTitle.gTitle1 h2{color:#666666;padding-left:33px;background:url(../images/bull_1.gif) 20px center no-repeat;}
.mTree.typeNormal .treeMenu .mTitle:first-child {margin-top: 0;}
.mTitle.gTitle .buttonArea{position:absolute;right:10px;top:7px;}
.mTree.typeNormal .treeMenu .treeOption {margin: 0 0 55px;background: #fff;border:1px solid #dadada;}
.mTree.typeNormal .treeMenu .treeOption .treeSort {padding: 7px 10px;}
.mTree.typeNormal .treeMenu .treeOption .treeSort select{width:100%;box-sizing:border-box;}
.mTree.typeNormal .treeMenu .treeOption .treeType {padding:10px 10px 10px;border-top: 1px solid #dadada;}
.mTree.typeNormal .treeMenu .treeOption .treeType .btn_type1{color:#666;padding:0px 4px}
.mTree.typeNormal .treeMenu .treeOption .sortSelect .fSelect,
.mTree.typeNormal .treeMenu .treeOption .sortSelect .button {margin-top: 10px;display:inline-block;}
.mTree.typeNormal .treeMenu .treeOption .sortSelect .fSelect select{width:87px;}
.mTree.typeNormal .treeMenu .treeOption .treeGrid {padding: 0px 10px 10px;}
.mTree.typeNormal .treeMenu .treeOption .treeGrid .gridTree {height: 290px;overflow-y: auto;border: 1px solid #dadada;padding:4px 8px;}
.mButton.typeBoradTree {position: relative;width: 100%;margin: 10px 0;}
.mButton.typeBoradTree .rightInner {position: absolute;right: 0;top: 0;}

/* form */
select{height:23px;border:1px solid #dadada;padding-left:5px;box-sizing:content-box;}
input[type=password],
input[type=text]{height:23px;line-height:23px;border:1px solid #dadada;padding:0px 10px;}
input[type=checkbox]{position:relative;top:-1px;}
input[type=radio]{position:relative;top:-1px;}
textarea{padding:10px;border:1px solid #dadada;}
.date_picker_box{display:inline-block;*display:inline;*zoom:1;height:23px;padding:0px 5px;border:1px solid #dadada;}
.date_picker_box input{border:0;width:80px;padding:0;}
.scroll_y_content{overflow-y:auto;overflow-x:hidden;border:1px solid #dadada;border-left:0;}
.scroll_y_content table{border-top:0 !important;}

/* fTextarea */
.fTextarea{overflow:hidden; padding:0 0 0 15px; border:1px solid #e5e5e5;}
.fTextarea .attached{margin:10px 0 0;}
.fTextarea textarea{display:inline-block; *display:inline; padding:10px 0;  height:54px; font-size:13px; line-height:21px; text-align:left; color:#757575; border:0px none; outline:none;}

.fFile input{border:1px solid #dadada;height:24px;line-height:24px;}

/* size */
.w80 {width:80px;}
.w93 {width:93px;}
.w121 {width:121px;}
.w175 {width:175px;}
.w246 {width:246px;}
.w55 {width:55px;}
.w65 {width:65%;}
.w250 {width:250px;}
.h197 {height:197px;}
.h100 {height:100px;}

.mgt30{margin-top:30px;}

/* table */
.table_type1.border_top_none{border-top:1px solid #dadada;}
.table_type1{border:1px solid #dadada;border-top:3px solid #333333;border-bottom:0;box-sizing:border-box;}
.table_type1 th{border-bottom:1px solid #dadada;background:#f2f2f2;text-align:left;padding:5px 15px;padding-left:17px;height:30px;font-weight:normal;}
.table_type1 td{border-bottom:1px solid #dadada;height:25px;padding:8px 10px 8px 20px;}
.table_type1 td.rowspan{padding:7px 20px 7px 20px; border-left:1px solid #e6e6e6;}
.table_type1 td.rowspan .fTextarea{margin-top:10px;}
.table_type1 td.rowspan .fTextarea:first-child{margin-top:0;}

/* button */
.btn{border-width: 0;padding: 7px 14px;font-size: 14px;outline: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;border-radius: 0 !important;-webkit-text-shadow: none;-moz-text-shadow: none;text-shadow: none;}
.btn-block{display:block !important;padding-left:0;padding-right:0;}
.btn-sm{padding: 5px 10px;font-size: 12px;line-height: 1.5;}
.btn_area_center{margin-top:20px;text-align:center;word-spacing:4px}
.btn_h23_type1{display:inline-block;vertical-align:middle;text-align:center;border:1px solid #939393;height:21px;line-height:21px;color:#fff;background:#333333;padding:0px 7px;}

.btn_h25_type1{display:inline-block;vertical-align:middle;text-align:center;border:1px solid #dadada;height:23px;line-height:25px;color:#666;background:#fff;padding:0px 10px;font-family:'굴림',sans-serif;font-size:12px;overflow:hidden;}

.btn_type1{display:inline-block;*zoom:1;white-space:nowrap;vertical-align:middle;text-align:center;border:1px solid #dadada;height:28px;line-height:28px;color:#999;background:#fff;padding:0px 10px;font-family:'굴림',sans-serif;font-size:12px;min-width:40px;word-spacing:0;}
.btn_type2{display:inline-block;*zoom:1;white-space:nowrap;vertical-align:middle;text-align:center;border:1px solid #666;height:28px;line-height:28px;color:#fff;background:#666;padding:0px 10px;font-family:'굴림',sans-serif;font-size:12px;min-width:40px;word-spacing:0;}
.btn_type3{display:inline-block;*zoom:1;white-space:nowrap;vertical-align:middle;text-align:center;border:1px solid #333333;height:28px;line-height:28px;color:#fff;background:#333333;padding:0px 10px;font-family:'굴림',sans-serif;font-size:12px;min-width:40px;word-spacing:0;}

.btn_exel{display:inline-block;vertical-align:middle;text-align:center;border:1px solid #dadada;height:23px;line-height:25px;color:#666;background:#fff;padding:0px 10px 0px 30px;font-family:'굴림',sans-serif;font-size:12px; background:url(../images/ico_excel.png) no-repeat 10px center;}

/* guide */
#container #contents .breadcrumb{padding:15px 0 0; margin:0; font-size:12px; background:none; color:#999999;}
#container #contents .breadcrumb a{color:#999999;}

.breadcrumb {padding:20px 15px; margin-bottom: 20px; list-style: none;}
.desc{display:inline-block; margin:7px 0 0 20px;font-size:13px;color:#666;}

.mTitle{zoom:1; padding:12px 0 19px; border-bottom:1px solid #dadada;}
.mTitle h1{font-size:16px; line-height:18px; color:#333; font-weight:bold;}

.mTitle.gTitle{margin-top:15px; border:1px solid #dadada; padding-left:4px; padding-bottom:13px !important; overflow:hidden;}
.mTitle.gTitle h2{padding:0 0 0 14px; font-size:12px; line-height:18px; color:#666666; margin-left:16px; background:url(../images/blet_gray01.gif) left center no-repeat;}
.mTitle.gTitle li{padding:0 0 0 14px; font-size:12px; line-height:18px; color:#666666; margin-left:16px; background:url(../images/blet_gray01.gif) left center no-repeat; float:left;}

.mTitle.typeButton{position:relative;}
.mTitle.typeButton .buttonArea {position:absolute; right:18px; top:50%; margin-top:-13px;}

.mButton.typeBorad{*zoom:1; position:relative; width:100%; margin:10px 0; }
.mButton.typeBorad:after{content:""; display:block; clear:both;}
.mButton.typeBorad .rightInner{position:absolute; right:19px; top:0;}
.mSubmit.typeSubmit{text-align:center; margin:25px 0 20px;}

.mBorad.typeCol{}
.mBorad.typeCol table{border:1px solid #dadada; background:#fff;}
.mBorad.typeCol table thead th,
.mBorad.typeCol table tbody td{font-size:12px; text-align:center; font-weight:normal;}
.mBorad.typeCol table thead th{padding:14px 0 14px 0; color:#666666;}
.mBorad.typeCol table tbody td{padding:14px 0 14px 0; color:#666666; border-top:1px solid #dadada;}
.mBorad.typeCol table tbody td a{color:#666666;}
.mBorad.typeCol table .alignLeft{text-align:left; padding-left:15px;}

.mSum.typeBorad{padding:14px 15px 14px 0; text-align:right; border:1px solid #dadada; border-top:0 none; background:#fff; font-size:11px; color:#666666;}

/* Tab Menu */
.mTab.typePage {border-bottom:1px solid #dadada;}
.mTab .tabMenu{*zoom:1; margin:10px 0 0; width:100%; position:relative; margin-bottom:-1px;}
.mTab .tabMenu:after{content:""; display:block; clear:both;}
.mTab .tabMenu li{margin:0 -1px 0 0; float:left; text-align:center; border-top:1px solid #dadada; border-left:1px solid #dadada; border-right:1px solid #dadada; height:36px; background:#fff;}
.mTab .tabMenu li a:hover,
.mTab .tabMenu li.active a{color:#333; background:#f2f2f2; border-bottom:1px solid #dadada; height:25px; margin-bottom:1px;}
.mTab .tabMenu li a{display:table-cell; *display:inline; *zoom:1; height:25px; padding:10px 30px 0; font-size:13px; text-decoration:none; color:#333; background:#fff; margin-bottom:-1px;}

/* Paging */
.mPaging{margin:10px 0; text-align:center;}
.mPaging span{display:inline-block;*display:inline; *zoom:1; border-left:1px solid #ddd;}
.mPaging span a{display:inline-block; *display:inline; *zoom:1; width:35px; height:32px; border:1px solid #dadada; border-left:0px none; color:#333333; font-size:12px; line-height:33px; text-decoration:none; background:#fff;}
.mPaging span a:hover,
.mPaging span a.selected{color:#333;background:#f6f6f6;}
.mPaging img {border:none; vertical-algn:middle !important; margin-top:-4px;}

/* Safari, Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.mPaging img {border:none; vertical-algn:middle !important; margin-top:-2px;}
}

/* IE6, IE7, IE8 */
@media \0screen\,screen\9 {
.mPaging img {border:none; vertical-algn:middle !important; margin-top:-2px;}
}

/* Grid Module */
.mModule{width:100%;}
.mModule .rowWrap{*zoom:1; margin-top:2%; }
.mModule .rowWrap:after{content:""; display:block; clear:both;}
.mModule.type2Grid .rowWrap .Inner{width:49%; float:right;}
.mModule.type2Grid .rowWrap .Inner:first-child{float:left; padding-right:10px;}
.mModule .rowWrap .innerContent{padding:0;}

.mModule.type3Grid .rowWrap .Inner{width:29%; float:left; margin-right: 1%}
.mModule.type3Grid .rowWrap .Inner:last-child{width:40%; float:right; margin-right: 0;}

.mListBox{*zoom:1;}
.mListBox:after{content:""; display:block; clear:both;}
.mListBox .boxArea{float:left; padding:0 0 0 10px;}
.mListBox .boxArea:first-child{padding-left:0;}
.mListBox .boxArea .listTitle{font-size:12px; margin:10px 0; color:#333; font-weight:bold;}
.mListBox .listBox {overflow:hidden; background-color: #FFFFFF; overflow-y: auto; *display:inline; zoom:1; border: 1px solid #dadada;}
.mListBox .listBox .uiSelect li {padding:0; clear:both;white-space: nowrap; margin:0; font-size:12px; text-align:left; vertical-align: top; border:none;}
.mListBox .listBox .uiSelect li em {color: #333; font-weight: bold;}
.mListBox .listBox .uiSelect li a {text-align:left; display: block; font-weight: normal; padding: 6px 10px 6px 10px; text-decoration: none; color:#999;}
.mListBox .listBox .uiSelect li a:hover,
.mListBox .listBox .uiSelect .active {background-color: #eeeeee; }

/* Calendar */
.mCalendar.typeLayer{display:inline-block; *display:inline; *zoom:1; position:relative;}

.vtop {vertical-align:top;}
.brdnone {border:none !important;}